@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;600;700&display=swap');


$base-color: #e2dfd8;
$base-color-light: #F4F3F1;
$dark-color: #27336b;
$accent-color: #80ecda;
$font-sans: 'Montserrat',
sans-serif;
$font-serif: 'Roboto Slab',
serif;
$font-big: 50px;
$font-medium: 30px;
$font-small: 16px;
$font-tiny: 12px;
$font-heavy: 600;
$font-light: 400;

* {
  box-sizing: border-box;
}

body {
  font-family: $font-serif;
  font-weight: $font-light;
  font-size: $font-small;
  line-height: 1.9;
  background-color: $base-color-light;
  color: $dark-color;
  display: grid;
  justify-content: center;
}

h1,
p {
  text-align: center;
}

.container {
  padding: 2em;
  margin: 0.5em;
  display: grid;
  justify-items: center;
  background-color: $dark-color;
}

.date-container {
  color: $accent-color;
  display: flex;
  justify-content: center;
}

//   .btn-container {
//     color: $dark-color;
//   }

button {
  border: 0;
  border-radius: 50% 50%;
  height: 3em;
  width: 3em;
  margin: 1em;
  cursor: pointer;
  background-color: $base-color-light;
  color: $dark-color;
  font-family: $font-serif;
  font-size: $font-small;
}

// .btn-morning {
//   background-color: $dark-color;
//   color: $accent-color;
// }

// .btn-noon {
//   background-color: $dark-color;
//   color: $accent-color;
// }

// .btn-night {
//   background-color: $dark-color;
//   color: $accent-color;
// }

.change {
  background-color: $accent-color;
  color: $dark-color;
}